* {
  box-sizing: border-box;
}

/* top image */
.top-image{
  display: flex;
  justify-content: center;
}
.top-image img{
  width: 100%;
}

/*Event and News*/
.eventNews {
  display: flex;
  padding: 52px 140px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.eventNews-container {
  display: flex;
  align-items: center;
  gap: 62px;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.eventNews-container.on {
  opacity: 1;
  transform: translateY(0);
}

.news-font {
  color: black;
  font-family: Newsreader;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 10px;
  text-align: center;
}

.news-list {
  display: flex;
  padding: 0px 86px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  border-left: 1px solid black;
}

.news-details {
  display: flex;
  align-items: center;
  gap: 38px;
  align-self: stretch;
}

.news-date {
  color: #030421;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.news-design {
  background-color: black;
  display: flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.news {
  color: white;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.news-text {
  color: black;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/*rooms*/
.rooms {
  background-color: #e5e5e5;
  display: flex;
  padding: 80px var(--item-spacing-110, 110px);
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.stay-plan {
  color: #03082e;
  font-family: Newsreader;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 10px;
  text-align: center;
}

.stay-plan-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 15px;
}

.plan-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.plan-content {
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.plan-title {
  color: black;
  font-family: Newsreader;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 6.4px;
}

.plan-details {
  color: black;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.list-button-container {
  display: flex;
  padding: 12px 66px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: var(--stroke-weight-2, 2px) solid #04062e;

  color: black;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.list-button-container:hover {
  background-color: black;
  color: white;
}
/* features card */
.features-cards{
  display: flex;
  flex-direction: column;
  padding: 80px 110px;
  gap: 30px;
  font-family: "Noto Sans JP";
}

.features-cards h2{
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-family: "Newsreader";
  color: #010340;
}

.features-card{
  display: flex;
  gap: 24px;
  padding: 28px 0;
}

.features-textarea{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 20px;
  gap: 18px;
  color:#010340;
}

.features-title-number{
  margin: 0;
  font-size: 50px;
}

.features-sub-title{
  margin: 0;
  font-size: 29px;
}

.features-text p{
  margin: 0;
  font-size: 15px;
}

.features-image img{
  border-radius: 10px;
}

/* .dark-theme.features-cards{
  background-color: #030421;
}

.dark-theme.features-card h2{
  color: #EDDEA3;
}

.dark-theme.features-textarea{
  color: #030421;
} */

/* access */
.access{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 90px;
  background-color: #E5E5E5;
  font-family: "Noto Sans JP";
}

.access-title{
  margin: 0;
  font-size: 50px;
  color: #030421;
}

.access-checkin{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.access-checkin p{
  margin: 0;
}

/* .dark-theme.access{
  background-color: #EEEEEE;
} */

/*footer*/
.footer {
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
}

.footer-content {
  color: white;
  display: flex;
  padding: 48px 0px;
  justify-content: center;
  align-items: center;
  gap: 53px;
  align-self: stretch;
}

.linksFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
}

.links {
  align-items: center;
  gap: 60px;
  align-self: stretch;
  list-style: none;
  padding-left: 5px;
  display: flex;
}

.links a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  left: 0;
}

.informationFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.information-container {
  color: white;
  text-align: center;
  align-items: center;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: 22.5px;
  display: flex;
}

.information-container img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
