* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  padding-top: 139px;
  color: #030421;
  margin: 0;
  overflow-x: hidden;
}

/* header */
.header {
  position: fixed;
  top: 0;
  padding: 16px 84px;
  box-sizing: border-box;
  width: 100vw;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-content-container {
  display: flex;
  align-items: center;
  gap: 33px;
  list-style: none;
}

.header-content {
  padding: 4px 12px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1.95px;
  transition: all 0.3s ease;
}

.header-content:last-child {
  display: none;
}

.header-content:hover {
  color: #141998;
  border-bottom: 1px solid #141998;
}

.reservation-button {
  height: fit-content;
  padding: 16px 66px;
  border-radius: 12px;
  border: 2px solid #04062e;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.reservation-button:hover {
  background-color: #030421;
  color: #fff;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .header {
    padding: 16px 40px;
  }

  .header-content-container {
    flex-direction: column;
    margin: 0px;
    position: absolute;
    top: 100%;
    right: 0px;
    padding: 0px;
    background-color: #eee;
    gap: 0px;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease;
  }

  .header-container.active {
    .header-content-container {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .header-content {
    width: 100%;
    padding: 24px 32px;
  }

  .header-content:last-child {
    display: block;
  }

  .header-content:hover {
    background-color: #030421;
    color: #fff;
    border-bottom: none;
  }

  .reservation-button {
    display: none;
  }

  /* ハンバーガーアイコンの基本スタイル */
  .hamburger {
    width: 48px;
    height: 36px;
    margin: 28px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    border: none;
  }

  /* 各ラインの基本スタイル */
  .hamburger-bar {
    width: 100%;
    height: 4px;
    background-color: black;
    transition: 0.3s ease;
    position: absolute;
    left: 0;
  }

  /* 3本のラインの初期位置 */
  .top {
    top: 0;
  }

  .middle {
    top: 50%;
    transform: translateY(-50%);
  }

  .bottom {
    top: calc(100% - 4px);
  }

  /* アイコンが「×」の状態のスタイル */
  .hamburger.open .top {
    transform: rotate(45deg);
    top: 50%;
  }

  .hamburger.open .middle {
    opacity: 0;
  }

  .hamburger.open .bottom {
    transform: rotate(-45deg);
    top: 50%;
  }
}

/* about */
.about {
  background-image: url("images/stars-overlay.png");
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
}

.about-logo {
  width: 239px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.about-logo.on {
  opacity: 1;
  transform: translateY(0);
}

.about-text-container {
  color: #e2e2e2;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  margin: 0px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.about-text-container.on {
  opacity: 1;
  transform: translateY(0);
}

.about-text {
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 0px 71px;
  }
}

@media screen and (max-width: 425px) {
  .about {
    padding: 0px 64px;
  }
}

/* activity */
.activity {
  padding: 80px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #eee;
  overflow: hidden;
}

.activity-title {
  font-family: Newsreader;
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 10px;
  margin: 0px;
}

.activity-card-list {
  display: flex;
  gap: 16px;
  margin-bottom: 180px;
}

.activity-card {
  width: 380px;
  position: relative;
}

.activity-card img {
  width: 100%;
}

.activity-card-description {
  width: 350px;
  height: 210px;
  padding: 20px 10px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.activity-card-title {
  padding: 10px;
  border-bottom: 0.5px dashed #030421;
  margin: 0px;
  font-weight: 400;
}

.activity-card-text {
  padding: 10px;
  margin: 0px;
  padding: 12px 20px 0px 20px;
}

.activity-button {
  padding: 12px 66px;
  border-radius: 12px;
  border: 2px solid #030421;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.activity-button:hover {
  background-color: #030421;
  color: #fff;
}

/* top image */
.top-image {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.top-image-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.top-image-slide img {
  width: 100vw;
}

.top-image-indicators {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.top-image-indicator {
  width: 13px;
  height: 13px;
  border: 2px solid #010340;
  border-radius: 50%;
}

.top-image-indicator.active {
  background-color: #010340;
}

/*Event and News*/
.eventNews {
  display: flex;
  padding: 52px 140px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.eventNews-container {
  display: flex;
  align-items: center;
  gap: 62px;

  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.eventNews-container.on {
  opacity: 1;
  transform: translateY(0);
}

.news-font {
  color: black;
  font-family: Newsreader;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 10px;
  text-align: center;
}

.news-list {
  display: flex;
  padding: 0px 86px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  border-left: 1px solid black;
}

.news-details {
  display: flex;
  align-items: center;
  gap: 38px;
  align-self: stretch;
}

.news-date {
  color: #030421;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.news-design {
  background-color: black;
  display: flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.news {
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.news-text {
  color: black;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 1100px) {
  .eventNews-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  .news-font {
    font-weight: 400;
  }

  .news-list {
    padding: 0;
    border: none;
  }
}

@media (max-width: 640px) {
  .eventNews {
    padding: 52px 32px;
    align-items: flex-start;
  }

  .eventNews-container {
    align-items: flex-start;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
  }

  .news-font {
    font-weight: 400;
  }

  .news-list {
    padding: 0;
    gap: 16px;
    border: none;
    align-self: stretch;
  }

  .news-details {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }
}

/*rooms*/
.rooms {
  background-color: #e5e5e5;
  display: flex;
  padding: 80px var(--item-spacing-110, 110px);
  flex-direction: column;
  align-items: center;
  gap: 30px;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  transform: translateX(30px);
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.rooms.on {
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translateX(0);
}

.stay-plan {
  color: #03082e;
  font-family: Newsreader;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 10px;
  text-align: center;
  white-space: nowrap;
}

.stay-plan-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.plan-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.image-class img {
  display: flex;
  width: 276px;
  height: 357px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.plan-introduction img:hover {
  transform: scale(1.2);
  transition: transform 0.6s ease;
}

.plan-content {
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: black;
}

.plan-title {
  color: black;
  font-family: Newsreader;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 6.4px;
}

.plan-details {
  color: black;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.plan-details:hover {
  text-decoration: underline;
}

.list-button-container {
  display: flex;
  padding: 12px 66px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: var(--stroke-weight-2, 2px) solid #04062e;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 500;
}

.list-button-container:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1100px) {
  .stay-plan-list {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--item-spacing-40, 40px);
  }

  .plan-introduction {
    justify-content: center;
    gap: 8px;
    align-self: stretch;
    flex-direction: row;
    align-items: end;
  }

  .plan-content {
    align-items: flex-start;
    flex: 1 0 0;
  }

  .plan-title {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .rooms {
    padding: 80px 32px;
  }

  .stay-plan-list {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }

  .plan-introduction {
    justify-content: flex-end;
    gap: 8px;
    cursor: pointer;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
  }

  .plan-content {
    padding: 21px 12px;
    align-items: flex-start;
    color: black;
    width: 100%;
  }

  .plan-title {
    font-size: 20px;
  }
}

/* features card */
.features-cards {
  display: flex;
  flex-direction: column;
  padding: 80px 110px;
  gap: 30px;
  line-height: 1.5;
}

.features-cards h2 {
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-family: "Newsreader";
  color: #010340;
  letter-spacing: 0.2em;
}

.features-card {
  display: flex;
  gap: 24px;
  padding: 28px 0;

  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.features-card.on {
  opacity: 1;
  transform: translateY(0);
}

.features-textarea {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 20px;
  gap: 18px;
  color: #010340;
}

.features-title-number {
  margin: 0;
  font-size: 50px;
  font-weight: 1;
}

.features-sub-title {
  margin: 0;
  font-size: 29px;
}

.features-text p {
  margin: 0;
}

.features-image img {
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .features-card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .features-card:nth-child(even) {
    flex-direction: column-reverse;
  }

  .features-textarea {
    padding: 24px;
  }

  .features-image {
    text-align: center;
  }

  .features-image img {
    width: 548px;
  }
}

@media (max-width: 640px) {
  .features-cards {
    padding: 80px 32px;
  }

  .features-card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .features-card:nth-child(even) {
    flex-direction: column-reverse;
  }

  .features-image {
    text-align: center;
  }

  .features-image img {
    width: 361px;
  }
}

/* access */
.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 90px;
  background-color: #e5e5e5;
  line-height: 1.5;
}

.access-title {
  margin: 0;
  font-size: 50px;
  color: #030421;
  font-family: "Newsreader";
  letter-spacing: 0.2em;
}

.google-map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 32.7%;
}

.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access-checkin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.access-checkin p {
  margin: 0;
}

@media (max-width: 768px) {
  .google-map {
    padding-top: 61.2%;
  }
}

@media (max-width: 425px) {
  .access {
    padding: 80px 32px;
  }

  .google-map {
    padding-top: 100%;
  }
}

/*footer*/
.footer {
  background-color: black;
  display: flex;
  padding: 48px 90px;
  justify-content: center;
  align-items: center;
  gap: 53px;
}

.image-container {
  flex-shrink: 0;
}

.linksFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
  flex-shrink: 0;
}

.links {
  align-items: center;
  gap: 60px;
  align-self: stretch;
  list-style: none;
  display: flex;
  letter-spacing: 0.1em;
  padding-left: 5px;
}

.links a {
  color: white;
  text-decoration: none;
  left: 0;
}

.links a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--sidecar-yellow, #eddea3);
}

.informationFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.information-container {
  color: white;
  text-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 350;
  line-height: 22.5px;
  display: flex;
  gap: 12px;
}

.information-container img {
  width: 24px;
  height: 24px;
}

@media (max-width: 1100px) {
  .linksFrame {
    flex: 1 0 0;
    flex-shrink: unset;
  }

  .links {
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .informationFrame {
    align-self: stretch;
  }

  .information-container {
    align-self: stretch;
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 48px 32px;
    gap: 31px;
  }

  .linksFrame {
    flex-shrink: unset;
    flex: 1 0 0;
  }

  .links {
    gap: 12px;
    justify-content: space-evenly;
  }

  .links li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  .informationFrame {
    align-self: stretch;
    align-items: center;
    gap: 12px;
  }
}

/* toglle */
/* toggle */
.toggle{
  display: flex;
  justify-content: center;
}

.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before{
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider{
  background-color: #2196F3;
}

input:checked + .slider::before{
  transform: translateX(26px);
}

/* dark-mode */
body.dark-mode{
  background-color: #000232;
  color: #EDDEA3;
}

.header.dark-mode{
  background-color: #000232;
}

/* .header img.dark-mode{
  opacity: 0;
} */

.reservation-button.dark-mode{
  background-color: #000232;
  color: #EDDEA3;
  border: 2px solid #EDDEA3;
  transition: 0s;
}

.reservation-button.dark-mode:hover {
  background-color: #EDDEA3;
  color: #030421;
  transition: all 0.3s ease;
}


@media screen and (max-width: 1100px) {
.hamburger.dark-mode{
  background: #000232;
}

.hamburger-bar.dark-mode{
  background-color: #EDDEA3;
  transition: 0s;
}}

.top-image-indicator.dark-mode{
  border: 2px solid #EDDEA3;
}

.top-image-indicator.active.dark-mode{
  background-color: #EDDEA3;
}

.news-font.dark-mode{
  color: #EDDEA3;
}

.news-list.dark-mode{
  border-left: 1px solid #EDDEA3;
}

.news-date.dark-mode{
  color: #EDDEA3;
}

.news-design.dark-mode{
  background-color: #EDDEA3;
}

.news.dark-mode{
  color: #000232;
}

.news-text.dark-mode{
  color: #EDDEA3;
}

.features-cards.dark-mode{
  background-color: #030421;
}

.features-cards h2.dark-mode{
  color: #EDDEA3;
}

.features-textarea.dark-mode{
  color: #EDDEA3;
}

.rooms.dark-mode{
  background-color: #eee;
}

.list-button-container.dark-mode{
  color: #04062e ;
}

.list-button-container:hover.dark-mode {
  background-color: black;
  color: white;
}


.activity.dark-mode{
  background-color: #030421;
}

.activity-card-description.dark-mode{
  background: #ECECEC;
}

.activity-card-title.dark-mode{
  color: #000000;
}

.activity-card-text.dark-mode{
  color: #000000;
}

.activity-button.dark-mode{
  border: 2px solid #EDDEA3;
  background-color: #030421;
  color: #EDDEA3;
}

.activity-button:hover.dark-mode{
  color: #030421;
  background-color: #EDDEA3;
}

.access-checkin.dark-mode{
  color: #000000;
}

.links a.dark-mode{
  color: #EDDEA3;
}

.links a:hover.dark-mode{
  color: #fff;
}

.information-container.dark-mode{
  color: #EDDEA3;
}

