* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  padding-top: 139px;
  color: #030421;
  margin: 0;
}

/* header */
.header {
  position: fixed;
  top: 0;
  padding: 16px 84px;
  box-sizing: border-box;
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-content-container {
  display: flex;
  align-items: center;
  margin-left: 162px;
  gap: 33px;
}

.header-content {
  padding: 4px 12px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1.95px;
  transition: all 0.3s ease;
}

.header-content:hover {
  color: #141998;
  border-bottom: 1px solid #141998;
}

.reservation-button {
  height: fit-content;
  padding: 16px 66px;
  border-radius: 12px;
  border: 2px solid #04062e;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

/* about */
.about {
  background-image: url("images/stars-overlay.png");
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
}

.about-logo {
  width: 239px;
}

.about-text-container {
  color: #e2e2e2;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  margin: 0px;
}

.about-text {
  margin: 0px;
}

/* activity */
.activity {
  padding: 80px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #eee;
}

.activity-title {
  font-family: Newsreader;
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 10px;
  margin: 0px;
}

.activity-card-list {
  display: flex;
  gap: 16px;
  margin-bottom: 180px;
}

.activity-card {
  width: 380px;
  position: relative;
}

.activity-card img {
  width: 100%;
}

.activity-card-description {
  width: 350px;
  padding: 20px 10px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.activity-card-title {
  padding: 10px;
  border-bottom: 0.5px dashed #030421;
  margin: 0px;
  font-size: 15px;
  font-weight: 400;
}

.activity-card-text {
  padding: 10px;
  margin: 0px;
  padding: 12px 20px 0px 20px;
}

.activity-button {
  padding: 12px 66px;
  border-radius: 12px;
  border: 2px solid #030421;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

/* top image */
.top-image {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.top-image-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.top-image-slide img {
  width: 100vw;
}

.top-image-indicators {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.top-image-indicator {
  width: 13px;
  height: 13px;
  border: 2px solid #010340;
  border-radius: 50%;
}

.top-image-indicator.active {
  background-color: #010340;
}

/*Event and News*/
.eventNews {
  display: flex;
  padding: 52px 140px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.eventNews-container {
  display: flex;
  align-items: center;
  gap: 62px;

  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.eventNews-container.on {
  opacity: 1;
  transform: translateY(0);
}

.news-font {
  color: black;
  font-family: Newsreader;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 10px;
  text-align: center;
}

.news-list {
  display: flex;
  padding: 0px 86px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  border-left: 1px solid black;
}

.news-details {
  display: flex;
  align-items: center;
  gap: 38px;
  align-self: stretch;
}

.news-date {
  color: #030421;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.news-design {
  background-color: black;
  display: flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.news {
  color: white;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.news-text {
  color: black;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/*rooms*/
.rooms {
  background-color: #e5e5e5;
  display: flex;
  padding: 80px var(--item-spacing-110, 110px);
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;

  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  transform: translateX(30px);
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.rooms.on {
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translateX(0);
}

.stay-plan {
  color: #03082e;
  font-family: Newsreader;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 10px;
  text-align: center;
}

.stay-plan-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 15px;
}

.plan-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.plan-introduction img:hover {
  transform: scale(1.2);
  transition: transform 0.6s ease;
}

.plan-content {
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: black;
}

.plan-title {
  color: black;
  font-family: Newsreader;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 6.4px;
}

.plan-details {
  color: black;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.plan-details:hover {
  text-decoration: underline;
}

.list-button-container {
  display: flex;
  padding: 12px 66px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: var(--stroke-weight-2, 2px) solid #04062e;
  cursor: pointer;
  color: black;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.list-button-container:hover {
  background-color: black;
  color: white;
}
/* features card */
.features-cards {
  display: flex;
  flex-direction: column;
  padding: 80px 110px;
  gap: 30px;
  font-family: "Noto Sans JP";
  line-height: 1.5;
}

.features-cards h2 {
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-family: "Newsreader";
  color: #010340;
  letter-spacing: 0.2em;
}

.features-card {
  display: flex;
  gap: 24px;
  padding: 28px 0;

  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.features-card.on {
  opacity: 1;
  transform: translateY(0);
}

.features-textarea {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 20px;
  gap: 18px;
  color: #010340;
}

.features-title-number {
  margin: 0;
  font-size: 50px;
}

.features-sub-title {
  margin: 0;
  font-size: 29px;
}

.features-text p {
  margin: 0;
  font-size: 15px;
}

.features-image img {
  border-radius: 10px;
}

/* .dark-theme .features-cards{
  background-color: #030421;
}

.dark-theme .features-card h2{
  color: #EDDEA3;
}

.dark-theme .features-textarea{
  color: #030421;
} */

/* access */
.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 90px;
  background-color: #e5e5e5;
  font-family: "Noto Sans JP";
  line-height: 1.5;
}

.access-title {
  margin: 0;
  font-size: 50px;
  color: #030421;
  font-family: "Newsreader";
  letter-spacing: 0.2em;
}

.access-checkin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.access-checkin p {
  margin: 0;
}

/* .dark-theme .access{
  background-color: #EEEEEE;
} */

/*footer*/
.footer {
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
}

.footer-content {
  color: white;
  display: flex;
  padding: 48px 0px;
  justify-content: center;
  align-items: center;
  gap: 53px;
  align-self: stretch;
}

.linksFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
}

.links {
  align-items: center;
  gap: 60px;
  align-self: stretch;
  list-style: none;
  padding-left: 5px;
  display: flex;
  letter-spacing: 0.12em;
}

.links a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  left: 0;
}

.informationFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.information-container {
  color: white;
  text-align: center;
  align-items: center;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: 22.5px;
  display: flex;
}

.information-container img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
